{% set n_learned = dances | selectattr("status", "!=", 0) | list | length %}
{% set n_interested = dances | selectattr("interest", "==", 1) | list | length %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Linedance-tracker</title>
    <script src="https://cdn.tailwindcss.com"></script>
<script>
  // script for animating checkbox
  tailwind.config = {
    theme: {
      extend: {
        keyframes: {
          checkBounce: {
            '0%':   { transform: 'scale(0.8)' },
            '50%':  { transform: 'scale(1.15)' },
            '100%': { transform: 'scale(1)' },
          },
          checkMark: {
            '0%':   { opacity: '0', transform: 'scale(0.5)' },
            '30%':  { opacity: '1', transform: 'scale(1)' },
            '62.5%':  { opacity: '1' },
            '100%': { opacity: '0', transform: 'scale(0.8)' },
          },
        },
        animation: {
          check: 'checkBounce 0.25s ease-out',
          checkmark: 'checkMark 0.4s ease-out forwards',
        },
      },
    },
  }
</script>
    <script src="{{ url_for('linedance-tracker.static', filename='home.js') }}"></script>
</head>

<body class="bg-gray-50 p-6 text-4xl 2xl:text-base">
    <div class="2xl:max-w-3xl mx-auto">
      <div id="header" class="mb-6">
        <h1 class="2xl:text-2xl font-bold mb-4 text-gray-800">
            {% if username is none %}
              Pick a username to track your line-dance progress!
            {% elif n_learned == 0 and n_interested == 0 %}
                Click a Tutorial link below to start learning!
            {% else %}
            <!-- nothing -->
            {% endif %}
        </h1>
          <form method="post" class="flex items-center space-x-4 mb-4 flex-wrap">

            <input type="text" name="username" class="border border-gray-300 p-2 rounded-lg flex-1 min-w-0" placeholder="Enter username" required>
            <input type="submit" value="{% if username is none %}Create username or log in{% else %}Switch user{% endif %}" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600">

            {% if username is not none %}
	    <a href="{{ url_for('linedance-tracker.logout') }}" class="bg-red-500 text-center text-white px-4 py-2 rounded-lg hover:bg-red-600">
                Log out
            </a>
            {% endif %}
        </form>
        <p class="text-gray-800">
            {% if username is not none %}
              Logged in as <b>{{ username }}</b> <br>
              {% if n_learned != 0 or n_interested != 0 %}
                You know <b>{{ n_learned }}</b> {{ "dance" | plural(n_learned) }} and are interested in <b>{{ n_interested }}</b> {{ "dance" | plural(n_interested) }}
              {% endif %}
              {% else %}
              Not logged in
            {% endif %}
        </p>
        <p class="mt-2">
            Playlist: <a href="https://open.spotify.com/playlist/1RIoKlZsye0xW3ZVpi8cQ9?si=udPkksVjS7GQZ8Mypkn99g&pi=u-sQQRpjjFSVST&nd=1&dlsi=7e3eadc61cdf4df0"
                class="text-blue-600 hover:underline">Spotify</a> and <a href="https://listen.tidal.com/playlist/3b4d9529-f9e4-4e9f-9479-e25cc9239de2"
                class="text-blue-600 hover:underline">Tidal</a>
        </p>
      </div>
        <div class="overflow-x-auto">
          <table class="table-fixed w-full bg-white border border-gray-200 rounded-lg">
              <thead class="bg-gray-200">
                  <tr>
                      <th class="px-2 py-2 text-left">Tutorial Link</th>
                      <th class="px-2 py-2 text-left">Keywords</th>
                      {% if username is not none %}
                      <th class="px-2 py-2 text-center">Learned?</th>
                      <th class="px-2 py-2 text-center">Interested?</th>
                      {% endif %}
                  </tr>
              </thead>

              <tbody>
                  {% for dance in dances %}
                  <tr class="{% if loop.index is even %}bg-gray-100{% else %}bg-white{% endif %}">
                      <td class="border px-4 py-2"><a href="{{ dance.url }}" target="_blank" class="text-blue-600 hover:underline">{{ dance.name }}</a></td>
                      <td class="border px-4 py-2">{{ dance.keywords }}</td>
                      {% if username is not none %}
                      <td class="border px-4 py-2 text-center">
                        <input
                          type="checkbox"
                          onchange="toggleChanged(this)"
                          {% if dance.status != 0 %}checked{% endif %}
                          data-action-url="{{ url_for('linedance-tracker.set_status', id=dance.id) }}"
                          class="
                            relative appearance-none
                            w-12 h-12 2xl:w-6 2xl:h-6
                            border-2 border-orange-500 rounded-sm
                            bg-white
                            transition-colors duration-200
                            checked:bg-orange-500
                            active:scale-95

                            before:content-['✔']
                            before:absolute
                            before:inset-0
                            before:flex
                            before:items-center
                            before:justify-center
                            before:text-orange-500
                            before:text-2xl 2xl:before:text-sm
                            before:opacity-0
                          "
                        >
                      </td>
                      <td class="border px-4 py-2 text-center">
                        <input
                          type="checkbox"
                          onchange="toggleChanged(this)"
                          {% if dance.interest == 1 %}checked{% endif %}
                          data-action-url="{{ url_for('linedance-tracker.toggle_interest', id=dance.id) }}"
                          class="
                            relative appearance-none
                            w-12 h-12 2xl:w-6 2xl:h-6
                            border-2 border-blue-500 rounded-sm
                            bg-white
                            transition-colors duration-200
                            checked:bg-blue-500
                            active:scale-95

                            before:content-['💡']
                            before:absolute
                            before:inset-0
                            before:flex
                            before:items-center
                            before:justify-center
                            before:text-orange-500
                            before:text-2xl 2xl:before:text-sm
                            before:opacity-0
                          "
                        >
                         </td>
                      {% endif %}
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
    </div>
</body>

</html>
