{% set n_learned = dances | selectattr("status", "!=", 0) | list | length %}
{% set n_interested = dances | selectattr("interest", "==", 1) | list | length %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Linedance-tracker</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{{ url_for('linedance-tracker.static', filename='home.js') }}"></script>
</head>

<body class="bg-gray-50 p-6">
    <div class="max-w-3xl mx-auto">
      <div id="header" class="mb-6">
        <h1 class="text-2xl font-bold mb-4 text-gray-800">
            {% if username is none %}
              Create a username to track your line-dance progress!
            {% elif n_learned == 0 and n_interested == 0 %}
                Click a Tutorial link below to start learning!
            {% else %}
            <!-- nothing -->
            {% endif %}
        </h1>
        <form method="post" class="flex items-center space-x-4 mb-4">
            <label for="username" class="font-semibold text-lg">Username:</label>
            <input type="text" name="username" class="border border-gray-300 p-2 rounded-lg">
            <input type="submit" value="{% if username is none %}Log in{% else %}Switch user{% endif %}" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600">

            {% if username is not none %}
	    <a href="{{ url_for('linedance-tracker.logout') }}" class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600">
                Log out
            </a>
            {% endif %}
        </form>
        <p class="text-gray-800">
            {% if username is not none %}
              Logged in as <b>{{ username }}</b> <br>
              {% if n_learned != 0 or n_interested != 0 %}
                You know <b>{{ n_learned }}</b> {{ "dance" | plural(n_learned) }} and are interested in <b>{{ n_interested }}</b> {{ "dance" | plural(n_interested) }}
              {% endif %}
              {% else %}
              Not logged in
            {% endif %}
        </p>
        <p class="mt-2">
            Playlist: <a href="https://open.spotify.com/playlist/1RIoKlZsye0xW3ZVpi8cQ9?si=udPkksVjS7GQZ8Mypkn99g&pi=u-sQQRpjjFSVST&nd=1&dlsi=7e3eadc61cdf4df0"
                class="text-blue-600 hover:underline">Spotify</a> and <a href="https://listen.tidal.com/playlist/3b4d9529-f9e4-4e9f-9479-e25cc9239de2"
                class="text-blue-600 hover:underline">Tidal</a>
        </p>
      </div>
        <table class="table-auto w-full bg-white border border-gray-200 rounded-lg">
            <thead class="bg-gray-200">
                <tr>
                    <th class="px-4 py-2 text-left">Tutorial Link</th>
                    <th class="px-4 py-2 text-left">Keywords</th>
                    {% if username is not none %}
                    <th class="px-4 py-2 text-left">Learned?</th>
                    <th class="px-4 py-2 text-left">Interested?</th>
                    {% endif %}
                </tr>
            </thead>

            <tbody>
                {% for dance in dances %}
                <tr class="{% if loop.index is even %}bg-gray-100{% else %}bg-white{% endif %}">
                    <td class="border px-4 py-2"><a href="{{ dance.url }}" target="_blank" class="text-blue-600 hover:underline">{{ dance.name }}</a></td>
                    <td class="border px-4 py-2">{{ dance.keywords }}</td>
                    {% if username is not none %}
                    <td class="border px-4 py-2 text-center" style="background-color: 
                        {% if loop.index is even %}bg-gray-100{% else %}bg-white{% endif %}
                        ">
                      {% set learned_status_color = 'green' if dance.status != 0 else 'red' %}
                      <input type="checkbox" onchange="toggleChanged(this)" {% if dance.status != 0 %}checked{% endif %} data-action-url="{{ url_for('linedance-tracker.set_status', id=dance.id) }}">
                    </td>
                    {% set interest_status_color = 'yellow' if dance.interest == 1 else 'black' %}
                    <td class="border px-4 py-2 text-center">
                      <input type="checkbox" onchange="toggleChanged(this)" {% if dance.interest == 1 %}checked{% endif %} data-action-url="{{ url_for('linedance-tracker.toggle_interest', id=dance.id) }}">
                       </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>
